html, body, #root, #mainContainer, #mainContainer>div, .App {
  color: #dbd3d8;
  height: 100%;
}
.App{
  display: flex;
  background-color: #223843;
  align-items: center;
  justify-content: center;
}

.rowElements{
  display: flex;
  flex-direction: row;
}

.colElements{
  display: flex;
  flex-direction: column;
}

.centerVer{
  align-items: center;
}

.centerHor{
  justify-content: center;
}

@media only screen and (min-width: 948px) {
  .mainContainer{
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-direction: row;
  }
  .container{
    height: 400px;
    padding-left: 50px;
    display: flex;
  }

  .contactContainer{
    margin-bottom: 50px;
    padding-left: 100px;
  }
  img{
    width: 75px;
    height: 75px;
  }
  
}

@media only screen and (max-width: 1050px) {
  .mainContainer{
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-direction: column;
  }
  .container{
    height: 400px;
    width: 80%;
    display: flex;
    justify-content: center;
  }

  .contactContainer{
    margin-bottom: 50px;
  }

  .textContainer{
    width: 80%;
  }
  img{
    width: 50px;
    height: 50px;
  }
}

.textContainer{
  display: flex;
  align-items: center;
  font-style: normal;
  color: #eff1f3;
  text-decoration: none;
}

h1{
  font-size: 75px;
  text-align: center;
}

.icon{
  width: 100px;
}

.name{
  font-size: 75px;
  text-align: center;
}